/*todorhoilj ogsn*/
:root{
    --color-default: #F01861;
    --color-black: #000000;
    --color-blue: #18A0FB;
    --radius-button: 30px;
    --radius-menu: 5px;
    --font-default: 'Manrope', sans-serif;
    --font-title: 'Rubik', sans-serif;
}
/*undsen heseg*/
*{
    font-family: var(--font-default);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
/* header хэсэг */
.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5rem;
  background: white;
  position: sticky;
  z-index: 99;
  top: 0;
  /* box-shadow: 0.2px 0.2px 5px rgba(1, 1, 1, 0.5); */
}
/*nav bar*/
.header header {
  display: flex;
  flex-direction: row;
  width: 97%;
  margin: 0 auto;
}
/*nuur logo*/
.logo {
  margin-left: 1rem;
  height: 36.4px;
  width: 60px;
}

/*nav bar*/
.header header nav {
  width: 100%; 
  display: flex;
  justify-content: space-between;
}
/*tses*/
.header header nav .order {
  width: 100%;
}

.header header nav ul {
  width: 40rem;
  display: flex;
  margin-top: 0.5rem;
  margin-left: 5rem;
  flex-direction: row;
  justify-content: space-between;
}
/*tsesnii ug design*/
.header header nav ul li a{
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: var(--color-default);
}
/*hadgalsan darah odnii heseg*/
.header header .save {
  height: 1.5rem;
  width: 100%;
}
.header header nav {
  margin-left: 2rem;
}
/*ehnii heseg*/
.fst{
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.item{
  width: 100%;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}
/*unelemjee osgo design*/
.fst .item .i_h1{
  padding-top: 8%;
  text-align: right;
  width: 50%;
  font-family: var(--font-title);
  /* height: 200px; */
}
.fst .item .i_h1 h1{
  font-family: var(--font-title);
  font-size: 3.7rem;
  /* height: 200px; */
}
.fst .item .i_h1 .osgo{
  font-family: var(--font-title);
  font-size: 4.2rem;
  color: var(--color-default);
  animation-name: osgo;
  animation-duration: 2s;
}
/*unelemjee osgo animation*/
@keyframes osgo{
  0%   {font-size: 4.2rem;}
  50%  {font-size: 5rem;}
  100% {font-size: 4.2rem;}
}
/*background zurag*/
.i_img{
  margin-top: 7%;
  width: 50%;
}
/*def ug 2 button*/
.det{
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 10%;
}
.det p{
  /* text-indent: 50px; */
  margin-top: 10%;
  font-size: 2rem;
}
.gadget{
  padding-top: 30%;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}
.det .gadget a img{
  width: 12rem;
}
.det a img{
  width: 40%;
  margin: 2%;
}
/* hereglegch section*/
.secondsec{
  width: 100%;
  margin-top: 10%;
  background: white;
  z-index: 999;
}
/*hereglegch garchig*/
.secondsec h2{
  margin-top: 5%;
  width: 100%;
  text-align: center;
}
/*yronhiii garcig p style*/
.secondsec>div{
  display: flex;
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.secondsec>div article h3{
  text-align: center;
  height: 4rem;

}
.secondsec>div article p{
  text-align: left;
}
/*background zurgin design id*/
#background{
  width: 100%;
  height: auto;
  margin-right: 0;
}
/*hereglegch grid hiisn heseg*/
.secondsec .grid1{
  width: 95%;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2.5rem;
}
/**/
.secondsec .grid1 article h3 {
  text-align: center;
}

/*baiguullaga section*/
.thirdsec{
  display: flex;
  width: 95%;
  margin: auto;
  background: white;
  z-index: 999;
  flex-direction: column;
}
/*gol garcig*/
.thirdsec h2{
  margin-top: 5%;
  width: 100%;
  text-align: center;
}
/*div design*/
.thirdsec>div{
  width: 100%;
  margin-top: 5%;
  display: flex;
}

.thirdsec>div div h3{
  text-align: center;
  height: 4rem;
  margin: auto;
}

.thirdsec div div img{
  margin-bottom: 1rem;
}
/*baiguullaga gridee hiisn hedeg*/
.thirdsec .grid2{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 2.5rem;
  margin: 3rem auto;
}
/*lolgo garcig design*/
.thirdsec .grid2>div{
  text-align: center;
}
.thirdsec .grid2>div img{
  width: 50px;
}
.thirdsec .grid2>div>div h3{
  text-align: center;
}

.thirdsec .grid2 div div p{
  text-align: left;
}
.thirdsec .grid2 article{
  margin: 0 3rem;
}
/*menu shiljit heseg*/
#hamburger{
  display: none;
}
#mobile-menu{
  display: none;
}
.open #mobile-menu{
  display: block;
  position: absolute;
  background: white;
  border-bottom: var(--color-default) 1px solid;
  border-left: var(--color-default) 1px solid;
  border-right: var(--color-default) 1px solid;
  border-radius: var(--radius-button);
  top: 4rem;
  right: 0;
  width: 11rem;
  height: auto;
  box-shadow: 0.2px 0.2px 0.2px rgba(0, 0, 0, 0.5);
}
.open #mobile-menu>li a{
  color: var(--color-default);
  margin: 2rem 0;
}
.open #mobile-menu>li{
  margin: 1rem 0.5rem;
}
/*meun 3 zuraas*/
#hamburger .bars div{
  width: 2rem;
  background: var(--color-default);
  height: 0.1rem;
  margin: 0.5rem;
  position: relative;
  right: 0;
  transition: 1s;
}
/*menu x boloh heseg*/
.open .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}
.open .bar2 {
opacity: 0;
}
.open .bar3 {
transform: rotate(45deg) translate(-6px, -8px);
}

/* footer */
.footer{
  margin-top: 0.5rem;
  text-align: center;
  background-color: white;
  padding: 2rem;
}
.footer div .svgitem{
  width: 30px;
  height: 30px;
  color: var(--color-default);
}

/*jishee ajliin zar uuseh css*/
.works {
  display: grid;
  width: 90%;
  margin: 2rem auto;
  grid-template-columns: auto auto auto;
  grid-gap: 2rem;
}
.works>div{
  width: 70%;
  margin: 2rem auto 0 auto;
}
.works>div>div{
  display: flex;
  justify-content: space-between;
}
.work-head .company{
  display: flex;

}
.work-head .star-save{
  width: 1.5rem;
  height: 1.5rem;
}
.work-head .company img{
  width: 4rem;
  height: 4rem;
}
.work-head .company div{
  padding: 4% 10%;
}.work-head .company img{
  height: 2rem;
  width: 2rem;
}
.works>div .text-bold{
  font-weight: bold;
}
.btn{
  background: white;
  border: 1px var(--color-default) solid;
  border-radius: var(--radius-button);
  padding: 0.5rem 1rem;
}
.btn:hover{
  background: var(--color-default);
  color: white;
}
.works>div>p{
  margin: 1rem 0;
}
/*tsesnii hover*/

.huree{
  border: 1px var(--color-default) solid;
  border-radius: var(--radius-menu);
}
.savehuree{
  height: 2rem;
  width: 100%;
}